/* Global */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

.noscript {
  display: flex;

  align-items: center;
  justify-content: center;
}

.kobo-app {
  font-family: 'Fira Sans', sans-serif;
  line-height: 2em;
  color: #212121;
  text-align: justify;
}
